a{text-decoration: none;}
header{
    position: fixed;
   top: 0;
   background-color: white;
   width: 100%;
   }
   .top-bar{
       width: 100%;
       border: 1px solid #EEEEEE;
   background-color: #EEEEEE;
   margin-top: 0%;
   padding: 0px;
   
   }
   
   
   .top-bar>ul{display: flex;
   justify-content: space-between;
   
   }
   
   
   .top-bar>ul li{
   font-size: smaller;
    font-family: "Gill Sans", sans-serif;
   list-style: none;
   color: #000000CC;
   }
   
   
   .top-bar .right{display: flex;
   justify-content: space-evenly;
   }
   
   .top-bar .left{display: flex;
   justify-content: space-evenly;
   }
   
   .top-bar>ul>div{
   width: 25%;
   font-size: small;
   }
   
   
   .top-bar>ul>div:nth-child(2){width: 13%;
   
   }
   #top-nav{margin-top: 0px;
       display: flex;
       justify-content: space-between;
       padding: 0px;
     border-bottom: 1px solid #4a4747cc;
   }
   #top-nav>.right>img{
       /* width: 147px; */
       width: 15vw;
     height: 3vw;
     margin: auto;
    
     margin-left: 20px;
   }
   #top-nav>.right{
     color: #000000CC;
       margin-top: 0px;
       width: 45%;
       display: flex;
       /* justify-content: space-between; */
     gap: 2vw;
   }
   .verticalLine{border-left: 2px solid #4a4747cc;
   height: 40px;width: 0px;
   margin: auto;
   
   }
   #top-nav>.left{
       width: 30%;
       display: flex;
       justify-content: space-evenly;
      margin-right: 30px;
   }
   #top-nav>.left input{margin: auto;
       padding: 8px 40px 8px 10px;
       border: none;
       border-radius: 5px;
   margin-top: 10px;
   background-color: #EEEEEE ;
   margin-right: 5px;
   }
   #top-nav>.left span{margin: auto;
   
   }
   #top-nav>.left p{
   margin-left: 5px;
   }
   #top-nav>.left img{border-radius: 100%;
   width: 35px;
   height: 35px;
   margin: auto;
   }
   .left a{margin: auto;}
   /* shopping heading css */
   #shopping{
       position: sticky;
       width: 70%;
       display: flex;
       justify-content: space-around;
       margin: auto;
       margin-top: 100px;
   }
   
   #shopping>p{font-size: large;}
   
   /* Banner css */
   #banner{
       flex-wrap: wrap;
       width: 100%;
       display: flex;
       justify-content: space-around;
       counter-increment: gallery-cell;
   }
   #banner>img{width: 30vw;
   
   }
   #pb1{margin-top: 20px;
       margin-bottom: 20px;
   
   }
   #pb1>img{width: 99%;}
   
   .container{
       /* display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   text-align: center; */
   display: grid;
   grid-template-columns: repeat(8,1fr);
   text-align: center;
   }
   .container>div>img{width: 10vw;}
   
   .banner2{display: flex;}
   
   .banner2>div>img{width: 49vw;}
   
   /* popular category======>> */
   
   .pop-head{margin-top: 0px;
       display: flex;
       justify-content: space-around;}
   .pop-head>span{
      
       border: 1px solid red;
   text-align: center;
   
   }
   
   #pop-img{
       display: grid;
   grid-template-columns: repeat(6,1fr);
   
   }
   #pop-img>div{width: 15vw;}
   #pop-img>div>img{
   width: 100%;
   margin-bottom: opx;
   }
   
   .heading{
       margin-top: 2px;
       display: block;
       text-align: center;
       font-size: xx-large;
       font-family: Arial, Helvetica, sans-serif;
       }
   .fav{width: 100%;
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 10px;
   }
   
   .fav>div>img{width:100%;
   
   }
   
   
   .love-us>img{
       margin-top: 5px;
   width:100%;
   }
   
   .accessiories{display: grid;
   grid-template-columns: repeat(6,1fr);
   }
   .accessiories img{
       
       width: 15vw;}
   
   
   
   /* <============footer======> */
   footer{
       width: 100%;
       background-color: #181818;
       padding-bottom: 30px;
   }
   .clr{
       color: #FDD835;
       
   }
   
   .white{color: white;}
   
   .left-side{
       width: 80%;
   margin: auto;
   }
   .left-side>h2{
       display: block;
   margin-left: 10%;
   padding-top: 70px;
   
   }
   .flex{display: flex;
   justify-content: space-around;
   }
   hr{color: gray;
   width: 80%;
   }
   #footer-last-section-para{
    width: 90%;
    color: white;
   margin-top: 50px;
    margin: auto;
    font-size: large;
    text-align: justify;
   }
   /* ==================================================== */
   /* media queries for midium size */
   @media all and (min-width:650px) and (max-width:990px){
   .top-bar{display: none;}
   #banner{
       width: 100%;
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 20px;
   }
   
   .banner2{
       width: 100%;
   }
   
   #pop-img{
       display: grid;
   grid-template-columns: repeat(6,1fr);
   
   }
   #top-nav>.left{display: contents;}
   
   #top-nav>.left input{margin: auto;
       inline-size: auto;
       padding: 0px;
       border: none;
       border-radius: 5px;
   margin: auto;
   background-color: #EEEEEE ;
   margin-right: 1%;
   }
   
   
   
   }
   
   
   
   
   /* media queries for small size */
   @media all and (max-width:649px){
       .top-bar{display: none;}
   #banner{
       width: 100%;
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 20px;
   }
   
   .container{
     
   display: grid;
   grid-template-columns: repeat(4,1fr);
   text-align: center;
   }
   
   .banner2{
       width: 100%;
   }
   
   #pop-img{
       padding-bottom: 0px;
    
       /* width: 100%; */
       display: grid;
   grid-template-columns: repeat(3,1fr);
   
   margin: auto;
   }
   #pop-img>div{
       /* width: 25vw; */
       margin: auto;
   
   }
   #pop-img img{
       /* width:100%; */
    
       
   }
   }